/*---------------------------------------------------------------------------


Elements
Constructor File
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


.icon--32{
    width: 32px; 
    height: 32px;
}
