/*---------------------------------------------------------------------------


Blog Single
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Blog Type Tweaks
------------------------------------------------------------------------*/

.blog-single{
    h3{
        margin-top: 1.6em;
        &:first-child{
            margin-top: 0;
        }
    }
}


/*------------------------------------------------------------------------
  Blog Single Layout
------------------------------------------------------------------------*/


.blog-single{
    display: block;
    padding: 0;
    &__content{
        max-width: 1024px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        padding: $grid*14 $grid*14 $grid*20 $grid*14;
        //add padding
    }
}


/*-- Queries --*/

@include media('<lg') {
    .blog-single{
        &__content{
            padding: $grid*13 6.6vw $grid*16 6.6vw;
        }
    }
}

@include media('<sm') {
    .blog-single{
        &__content{
            padding-top: $grid*10;
            padding-bottom: $grid*14;
        }
    }
}


/*------------------------------------------------------------------------
  Blog Heading Bar
------------------------------------------------------------------------*/

.blog-heading-bar{
    border-bottom: 1px solid #dedede;
    >.inner{
        width: 100%;
        max-width: 1024px;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        font-size: $font-size-16;
    }
    &__section{
        display: flex;
        align-items: center;
        border-right: 1px solid #dedede;
        width: 50%;
        height: $grid*14;
        flex: 1;
        box-sizing: border-box;
        padding: $grid*3 $grid*3;
        color: $content-copy-color;
        //color: #b9c0cc;
        a{
            //color: $content-copy-color--light;
        }
        &:first-child{
            border-left: 1px solid #dedede;
        }
    }
        &__thumb{
            min-width: $grid*8;
            width: $grid*8;
            height: $grid*8;
            border-radius: $grid*10;
            padding: $grid/4;
            box-sizing: border-box;
            overflow: hidden;
            background: linear-gradient(90deg, #3A65C7, #3FA9F5);
            img{
                border-radius: 100%;
                width: 100%;
                height: auto;
            }
        }
        &__info{
            margin-left: $grid*5;
        }
            &__words-by{
                margin-left: -$grid*2;
                @extend h6;
                margin-bottom: 4px;
                font-size: $font-size-12;
            }
    &__social-tower{
        display: flex;
        flex-direction: column;
        width: $grid*7;
        border-right: 1px solid #dedede;
    }
        &__social-link{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $content-copy-color--light;
            &:first-child{
                border-bottom: 1px solid #dedede;
            }
            &:hover{
                color: $brand-primary;
            }
        }
}

/*-- Queries --*/

@include media('<xs') {
    .blog-heading-bar{
        >.inner{
            display: block;
        }
        &__section{
            height: auto;
            display: block;
            justify-content: center;
            width: 100%;
            text-align: center;
            &:first-child{
                padding-bottom: 0;
            }
        }
        &__info{
            margin-left: 0;
        }
        &__thumb{
            margin: 0 auto $grid auto;
        }
        &__words-by{
            margin-left: 0;
        }
        &__social-tower{
            display: none;
        }
    }
}




/*------------------------------------------------------------------------
  Author Bio Card
------------------------------------------------------------------------*/


.author-bio{
    border: 4px solid #dedede;
    margin-top: $grid*14;
    display: flex;
    &__content{
        padding: $grid*5;
    }
        &__heading{
            font-size: $font-size-20;
            color: $copy-title-color;
        }
            &__name{
                font-weight: 500;
            }
            &__word-divide{
                color: #acb6bb;
            }
            &__title{
                color: #acb6bb;
                margin-bottom: 0;
            }
            &__description{
                margin-top: $grid*2;
                flex: 1;
                font-size: $font-size-16;
            }
    &__thumb{
        min-width: $grid*12;
        width: $grid*12;
        height: $grid*12;
        border-radius: $grid*12;
        padding: $grid/2;
        box-sizing: border-box;
        overflow: hidden;
        background: linear-gradient(90deg, #3A65C7, #3FA9F5);
        margin: $grid*5 0 $grid*5 $grid*5;
        img{
            border-radius: 100%;
            width: 100%;
            height: auto;
        }
    }
}


@include media('<lg') {
    .author-bio{
        margin-top: $grid*13;
        text-align: center;
    }
}

@include media('<sm') {
    .author-bio{
        margin-top: $grid*10;
        display: block;
        padding: $grid*4 $grid*3 $grid*1 $grid*3;
        &__heading{
            font-size: $font-size-18;
        }
        &__content{
            padding: $grid*3;
        }
            &__name{
                display: block;
            }
            &__word-divide{
                display: none;
            }
        &__thumb{
            margin: 0 auto;
        }
    }
}

@include media('<xs') {
    .author-bio{
        padding-right: 0;
        padding-left: 0;
        &__heading{
            font-size: $font-size-20;
            color: $copy-title-color;
        }
    }
}

//.blog-heading-bar


/*------------------------------------------------------------------------
  Related Posts
------------------------------------------------------------------------*/

.related-posts{
    max-width: 1024px;
    padding: 0 $grid*14 $grid*20 $grid*14;
    margin: 0 auto;
    text-align: center;
    &__grid{
        display: flex;
        width: 100%;
    }
    &__meta{
        font-size: $font-size-14;
        margin-bottom: $grid*2;
    }
    &__post{
        flex: 1;
        min-height: $grid*40;
        h4{
            color: #fff;
        }
        >.inner{
            padding: $grid*4;
            background: $brand-primary;
            color: #fff;
            display: block;
            height: 100%;
            box-sizing: border-box;
            text-align: left;
            transition: transform 0.15s $curved-transition;
            position: relative;
            &:hover{
                z-index: 100;
                transform: scale(1.1);
            }
        }
        &:nth-child(2){
            >.inner{
                background: $brand-primary-burn;
            }
        }
    }

}


/*-- Queries --*/

@include media('<lg') {
    .related-posts{
        padding: 0 6.6vw $grid*16 6.6vw;
    }
}

@include media('<sm') {
    .related-posts{
        padding-top: 0;
        padding-bottom: $grid*14;
        &__grid{
            flex-wrap: wrap;
            width: 100%;
        }
            &__post{
                min-height: auto;
                width: 100%;
                flex: auto;
            }
    }
}
