/*---------------------------------------------------------------------------


Blog Single
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Blog Type Tweaks
------------------------------------------------------------------------*/

.blog-single{
    h3{
        margin-top: 1.6em;
        &:first-child{
            margin-top: 0;
        }
    }
}


/*------------------------------------------------------------------------
  Blog Single Layout
------------------------------------------------------------------------*/


.blog-single{
    padding-top: $grid*16;
    >.inner{
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    &__content{
        flex: 1;
        padding: 0 $grid*14;
    }
    &__sidebar{
        background: #aaa;
        height: 300px;
        width: 300px;
        box-sizing: border-box;
        padding-right: $grid*14;
    }
}
