/*---------------------------------------------------------------------------


Footer
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Globals
------------------------------------------------------------------------*/

.footer{
    background: #fff;
    font-size: $font-size-14;
    font-weight: $font-weight-light;;
    color: #95989A;
}


/*------------------------------------------------------------------------
  Primary Footer
------------------------------------------------------------------------*/

.footer__primary{
    max-width: $page-max-width;
    box-sizing: border-box;
    padding: $grid*14 $grid*14 0 $grid*14;
    margin: 0 auto;
    >.inner{
        border-bottom: 1px solid #EDEDED;
        display: flex;
        padding-bottom: $grid*8;
    }
    a{
        color: #95989A;
        &:hover{
            color: $brand-primary;
        }
    }
}
    .footer__logo{
        box-sizing: border-box;
        width: 140px;
        height: 60px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background: url("#{$img_path}/logo.svg") center no-repeat;
        background-size: 140px 60px;
        text-indent: -9999px;
    }
    .footer-menu{
        display: flex;
        width: 760px;
        margin-left: auto;
    }
        .footer-menu__block{
            flex: 1;
            padding: 0 $grid*5;
            box-sizing: border-box;
        }
            .footer-menu__heading{
                font-size: $font-size-14;
                margin: 0px 0px $grid*2 0px;
                font-weight: 700;
                font-family: $primary-font;
                letter-spacing: 0.05rem;
                color: #787c7f;
                text-transform: uppercase;
            }
            .footer-menu__list{
                li{
                    margin-top: $grid;
                    list-style: none;
                }
            }
        //.footer-menu__block
    //.footer-menu
//.footer__primary


/*------------------------------------------------------------------------
  Copyright Footer
------------------------------------------------------------------------*/

.footer__copyright{
    max-width: $page-max-width;
    box-sizing: border-box;
    padding: $grid*8 $grid*14 $grid*14 $grid*14;
    margin: 0 auto;
    display: flex;
    align-items: center;
    a{
        color: #787c7f;
        &:hover{
            color: $brand-primary;
        }
    }
}
    .footer__copyright-text{
        line-height: 1.75rem;
        padding-right: $grid*2;
    }
    .footer-social-menu{
        margin-left: auto;
        white-space: nowrap;
    }
        .footer-social-menu__link{
            margin-left: $grid;
        }
    //.footer-social-menu

//.footer__copyright


/*------------------------------------------------------------------------
  Queries
------------------------------------------------------------------------*/

@include media('<lg') {
    .footer__copyright,
    .footer__primary{
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .footer-menu{
        padding-left: $grid*6;
    }
}

@include media('<md') {
    .footer__primary{
        padding-top: $grid*10;
        >.inner{
            flex-wrap: wrap;
            padding-bottom: $grid*6;
        }
    }
        .footer-menu{
            width: 100%;
            padding-left: 0;
        }
            .footer-menu__block{
                padding: $grid*4 $grid*4 0 0;
            }
        //.footer-menu
        .footer__logo{
            margin-bottom: $grid*2;
            width: 100%;
            display: none;
            flex: auto;
        }
    //.footer__primary
    .footer__copyright{
        padding-top: $grid*6;
        padding-bottom: $grid*10;
    }
}

@include media('<sm') {
    .footer__primary{
        padding-top: $grid*6;
    }
        .footer__logo{
            width: 100%;
            display: none;
            flex: auto;
            .icon{
                width: 120px;
                height: 73px;
            }
        }
        .footer-menu{
            flex-wrap: wrap;
        }
            .footer-menu__block{
                box-sizing: border-box;
                width: 50%;
                flex: auto;
            }
        //.footer-menu
    //.footer__primary
    .footer__copyright{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: $grid*6;
        br {
            content: " ";
            display: none;
        }
    }
        .footer-social-menu{
            margin-left: 0;
            margin-bottom: $grid*4;
        }
            .footer-social-menu__link{
                margin-left: 0;
                margin-right: $grid;
            }
        //.footer-social-menu
        .footer__copyright-text{
            padding-bottom: $grid*2;
            padding-right: 0;
            width: 100%;
        }
    //.footer__copyright
}

@include media('<xxs') {
    .footer__copyright,
    .footer__primary{
        padding-left: 24px;
        padding-right: 24px;
    }
}
