/*---------------------------------------------------------------------------


Home Hero
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  Home Hero
------------------------------------------------------------------------*/

.home-hero{
    width: 100%;
    min-height: 100%;
    background: linear-gradient( -235deg, #3fa9f5 0%, #3d20a9 100%);
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img{
        vertical-align: bottom;
        width: 100%;
        position: absolute;
        bottom: -60px;
        opacity: 0;
        transition: all 1.5s $curved-transition 0.25s;
    }
    &__haze{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #223f96;
        opacity: 0.35;
    }
    &__gradient{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(rgba(40,48,79,1) 0%, rgba(40,48,79,0) 60%);
    }
    &__lightstreak{
        display: none;
        width: 800px;
        height: 200%;
        position: absolute;
        top: 50%;
        left: 60%;
        background: rgba(255,255,255,0.03);
        transform: translate(-50%, -50%) rotate(30deg);
    }
    &__content{
        margin-top: 14vh;
        z-index: 1000;
        text-align: center;
        width: 100%;
        max-width: $grid*148;
        padding: $grid*6;
        box-sizing: border-box;
        border-radius: $grid*6;
    }
        &__heading{
            padding: 0 $grid*6;
            font-size: $font-size-80;
            letter-spacing: -0.03em;
            margin: 0;
            margin-bottom: $grid*3;
        }
        &__sub-heading{
            font-family: $primary-font;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.5em;
            font-size: $font-size-20;
            display: block;
            font-weight: 300;
            opacity: 0;
            transform: translateY(30px);
            transition: all 1s $curved-transition 0.7s;
        }
        &__main-heading{
            display: block;
            transform: translateY(30px);
            opacity: 0;
            transition: all 1s $curved-transition 0.9s;
        }
        .cta-buttons{
            transform: translateY(30px);
            opacity: 0;
            transition: all 1s $curved-transition 1.1s;
        }
    //&__content;
}



@include media('<md') {
    .home-hero{
        &__heading{
            font-size: 9.1vw;
        }
            &__sub-heading{
                font-size: 1.8vw;
            }
        //&__heading
    }
    .cta-buttons{
        margin-top: 2.4vw;
    }
}

@include media('<sm') {
    .home-hero{
        &__content{
            padding-top: $grid*4;
        }
        &__heading{
            padding: 0 $grid*2;
        }
            &__sub-heading{
                font-size: 16px;
            }
        //&__heading
    }
    .cta-buttons{
        margin-top: $grid*3;
    }
}

@include media('<xs') {
    .home-hero{
        &__heading{
            font-size: 54px;
        }
            &__sub-heading{
                font-size: 14px;
                margin-bottom: 4px;
            }
        //&__heading
    }
}

@include media('<xxs') {
    .home-hero{
        &__heading{
            font-size: 36px;
        }
    }
}






/*------------------------------------------------------------------------
  Scroll More
------------------------------------------------------------------------*/


.scroll-more{
    width: $grid*8;
    height: $grid*12;
    padding-right: 1px;
    position: absolute;
    left: 50%;
    margin-left: -$grid*4;
    bottom: $grid*3;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 1.5s $curved-transition 2s;
    &__text{
        opacity: 1;
        letter-spacing: 0.1em;
        font-weight: 300;
        margin-bottom: $grid*3;
        font-family: $brand-primary;
    }
    &__line{
        opacity: 0.8;
        height: 32px;
        width: 1px;
        position: absolute;
        bottom: 0;
        left: $grid*4;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0px, rgba(255,255,255,0) 32px, rgba(255,255,255,1) 33px, rgba(255,255,255,1) 64px);
        background-size: 200% auto;
        background-position: 0 100%;
        animation: scrollGradientAnimation 1.4s ease-in-out infinite;
    }
}

@keyframes scrollGradientAnimation {
    0% { background-position: 0 0; }
	100% { background-position: 0 -200%; }
}

@include media('<md') {
    .scroll-more{
        display: none;
    }
}


/*------------------------------------------------------------------------
  Animated
------------------------------------------------------------------------*/

.home-hero.animated{
    img{
        bottom: 0;
        opacity: 1;
    }
    .home-hero__main-heading{
        transform: translateY(0px);
        opacity: 1;
    }
    .home-hero__sub-heading{
        transform: translateY(0px);
        opacity: 0.7;
    }
    .cta-buttons{
        transform: translateY(0px);
        opacity: 1;
    }
    .scroll-more{
        opacity: 1;
        transform: translateY(0px);
    }

}
