/*---------------------------------------------------------------------------


Header
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/




/*------------------------------------------------------------------------
  SFX
------------------------------------------------------------------------*/

.intro-gradient{
    height: $grid;
    width: 100%;
    background: linear-gradient( 90deg, $brand-secondary, $brand-primary, $brand-tertiary );
    position: relative;
    z-index: 1000;
}


/*------------------------------------------------------------------------
  Header
------------------------------------------------------------------------*/

.main-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: $grid;
    padding-bottom: $grid*4;
    z-index: 2000;
}


/*------------------------------------------------------------------------
  Sub Menu
------------------------------------------------------------------------*/

    .sub-menu{
        padding-left: $grid*9;
        padding-right: $grid*9;
        height: $grid*5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        margin-bottom: $grid;
        &__item{
            display: block;
            padding: $grid $grid*2;
            font-size: $font-size-12;
            font-weight: 200;
            letter-spacing: 0.04rem;
            color: #fff;
            opacity: 0.6;
            &:hover{
                color: #fff;
                opacity: 1;
            }
        }
    }


/*------------------------------------------------------------------------
  Main Menu
------------------------------------------------------------------------*/

    .main-menu{
        padding-right: $grid*3;
        margin-left: $grid*5;
        margin-right: $grid*5;
        height: $grid*9;
        display: flex;
        align-items: center;
        background: rgba(255,255,255,0);
        transition: margin 0.15s $curved-transition, box-shadow 0.15s $curved-transition 0.02s, background 0.15s $curved-transition;
        ul{
            margin-left: auto;
            height: $grid*9;
            display: flex;
            align-items: center;
            > li{
                position: relative;
                list-style: none;
                margin: 0 $grid;
                vertical-align: top;
                display: inline;
                align-items: center;
                vertical-align: top;
                a{
                    display: inline-flex;
                    height: $grid*5;
                    align-items: center;
                    box-sizing: border-box;
                    color: #ddd;
                    font-size: $font-size-15;
                    padding: $grid/2 $grid*2;
                    font-weight: 200;
                    letter-spacing: 0.01rem;
                    position: relative;
                    &:before{
                        content: '';
                        height: 4px;
                        width: 100%;
                        //background: #3FA9F5;
                        background: rgba(255,255,255,0.6);
                        position: absolute;
                        transform: scaleX(0.5);
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        transition: transform 0.15s $curved-transition, opacity 0.15s $curved-transition;
                    }
                    &:hover{
                        color: #fff;
                        &:before{
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }
                }
                &.current-menu-item{
                    a{
                        color: #fff;
                    }
                }
                &.main-menu--cta{
                    a{
                        &:after{
                            transform: scaleX(0.5);
                            opacity: 0;
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            border: 2px solid $brand-secondary;
                            transition: opacity 0.15s $curved-transition,
                                        transform 0.15s $curved-transition,
                                        color 0.15s $curved-transition;
                        }
                    }
                }
            }
        }
        &__logo{
            padding: 0 $grid*4;
            box-sizing: border-box;
            width: 160px;
            height: 72px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            .icon{
                width: 160px;
                height: 72px;
            }
        }
    }

    .main-menu--fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 8px 0px 0px rgba(200,200,200,0.2);
        background: rgba(255,255,255,1);
        ul{
            > li{
                a{
                    color: $nav-text-color;
                    &:hover{
                        color: $nav-text-color--hover;
                    }
                }
                &.current-menu-item{
                    a{
                        color: $brand-primary;
                    }
                }
            }
        }
    }


/*------------------------------------------------------------------------
  Main Menu CTA
------------------------------------------------------------------------*/

    .main-menu--cta-focus{
        ul{
            li.main-menu--cta{
                a{
                    color: $brand-secondary;
                    &:after{
                        z-index: -1;
                        opacity: 1;
                        transform: scaleX(1);
                    }
                    &:before{
                        display: none;
                    }
                    &:hover{
                        color: $brand-primary;
                        &:after{
                            border-color: $brand-primary;
                        }
                    }
                }
            }
        }
    }

//.main-header


/*------------------------------------------------------------------------
  Mobile Menu Toggle
------------------------------------------------------------------------*/

.mobile-menu-toggle{
    z-index: 2100;
    display: none;
    width: $grid*8;
    height: $grid*8;
    position: absolute;
    margin: 0 0 0 auto;
    top: 0;
    right: 0;
    padding: 0;
    overflow: hidden;
    &:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        background: rgba(255,255,255,0.1);
        transform: translate(-50%, -50%);
        transition: all 0.4s $curved-transition;
        opacity: 0;
        width: 90px;
        height: 90px;
    }
    &:active{
        &:after{
            width: 0px;
            height: 0px;
            transition: 0s;
            width: 0px;
            height: 0px;
            opacity: 1;
        }
    }
    .bar{
        width: $grid*3;
        height: 3px;
        background: #fff;
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        transition: all 0.35s $curved-transition;
        &-1{
            margin-top: -8px;
            margin-left: -$grid*1.5;
            left: 50%;
        }
        &-2{
            margin-left: -$grid*1.5;
            left: 50%;
        }
        &-3{
            margin-top: 6px;
            margin-right: -$grid*1.5;
            right: 50%;
        }
    }
    &.active{
        .bar{
            &-1{
                transform: rotate(135deg);
                margin-top: -1.5px;
            }
            &-2{
                margin-left: -$grid*3;
                opacity: 0;
            }
            &-3{
                transform: rotate(-135deg);
                margin-top: -1.5px;
            }
        }
    }
    &--fixed{
        position: fixed;
        .bar{
            background: $nav-text-color;
        }
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            background: rgba(140,140,140,0.1);
        }
    }
    &.active{
        .bar{
            background: #fff;
        }
    }
}


/*------------------------------------------------------------------------
  Mobile Menu
------------------------------------------------------------------------*/

.mobile-menu{
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(22,35,66,0.98), rgba(13,24,49,0.98));
    transition: opacity 0.15s $curved-transition;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    >.inner{
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: $grid*7;
        padding-bottom: $grid*7;
    }
    &__main{
        margin: 0;
        padding: 0;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        >li{
            list-style: none;
            a{
                box-sizing: border-box;
                font-size: $font-size-32;
                font-family: $header-font;
                font-weight: 700;
                display: block;
                color: #fff;
                width: 100%;
                opacity: 0;
                transition: all 0.30s $curved-transition 0.30s;
                position: relative;
                overflow: hidden;
                padding: 3vh 0;
                transform: translateY(40px);
                &:before{
                    content: '';
                    width: 100%;
                    z-index: -1;
                    background: linear-gradient(90deg, #3A65C7, #3FA9F5);
                    position: absolute;
                    transform: scaleX(0.5);
                    bottom: 0;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: transform 0.15s $curved-transition, opacity 0.15s $curved-transition;
                }
                &:after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 50%;
                    background: rgba(255,255,255,0.1);
                    transform: translate(-50%, -50%);
                    transition: all 0.4s $curved-transition;
                    opacity: 0;
                    width: 200px;
                    height: 200px;
                }
                &:hover{
                    color: #fff;
                    &:before{
                        transform: scaleX(1);
                        opacity: 0.2;
                    }
                }
                &:active{
                    &:after{
                        width: 0px;
                        height: 0px;
                        transition: 0s;
                        width: 0px;
                        height: 0px;
                        opacity: 1;
                    }
                }
            }
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    a{
                        transition-delay: (0.1s + (0.05s * $i));
                    }
                }
            }
        }
    }
}

.mobile-menu__sub{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: $grid*7;
    border-top: 1px solid rgba(255,255,255,0.1);
    display: flex;
}
    .mobile-menu__sub-item{
        width: 50%;
        box-sizing: border-box;
        text-align: center;
        height: $grid*7;
        line-height: $grid*7;
        color: rgba(255,255,255,0.6);
        position: relative;
        overflow: hidden;
        &:first-child{
            border-right: 1px solid rgba(255,255,255,0.1);
        }
        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            background: rgba(255,255,255,0.1);
            transform: translate(-50%, -50%);
            transition: all 0.4s $curved-transition;
            opacity: 0;
            width: 140px;
            height: 140px;
        }
        &:hover{
            background: rgba(0,0,0,0.1);
        }
        &:active{
            &:after{
                width: 0px;
                height: 0px;
                transition: 0s;
                width: 0px;
                height: 0px;
                opacity: 1;
            }
        }
    }

//.mobile-menu


/*-- States --*/

.mobile-menu.active{
    opacity: 1;
    pointer-events: all;
    .mobile-menu__main{
        >li{
            a{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}


/*------------------------------------------------------------------------
  Queries
------------------------------------------------------------------------*/

@include media('<md') {
    .sub-menu{
        padding-left: $grid*4;
        padding-right: $grid*4;
}
    .main-menu{
        display: flex;
        margin-left: 0px !important; //overwrite js
        margin-right: 0px !important; //overwrite js
    }
}

@include media('<sm') {
    .sub-menu{
        display: none;
    }
    .main-menu{
        height: $grid*8;
        padding-right: 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        ul{
            display: none;
        }
        &__logo{
            padding: 0 $grid*2;
            box-sizing: border-box;
            width: 112px;
            height: 64px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            .icon{
                width: 112px;
                height: 64px;
            }
        }
    }
    .mobile-menu-toggle{
        display: block;
    }
}
