/*---------------------------------------------------------------------------


Slide Quote Section
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  Quote Section
------------------------------------------------------------------------*/

.slide-quote{
    background-image: url('images/default-blog-landing-bg.png'), linear-gradient(120deg, #3FA9F5, #3A65C7 );
    background-size: cover, cover;
    figure{
        padding-left: $grid*8;
        padding-right: $grid*8;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }
        hr{
            background: #fff;
            opacity: 0.25;
            padding: 0;
            height: 4px;
            width: $grid*15;
            border: none;
        }
        blockquote{
            margin-bottom: $grid*5;
            p{
                margin: 0 auto;
                font-size: $font-size-24;
                line-height: 1.6em;
                position: relative;
                display: flex;
                letter-spacing: 0.05rem;
                font-weight: 200;
                align-items: center;
                max-width: 1024px;
                padding: 0 $grid*12;
            }
            span{
                flex: 1;
            }
            .icon{
                width: 120px;
                height: 120px;
                opacity: 0.5;
                margin-top: -45px;
                position: absolute;
                top: -$grid*2;
                &:first-child{
                    left: 0;
                }
                &:last-child{
                    right: 0;
                }
            }
        }
        footer{
            margin-top: $grid*4.5;
            font-size: $font-size-17;
            font-weight: 200;
            opacity: 0.8;
            cite{
                font-size: $font-size-17;
                font-weight: 200;
                font-family: $primary-font;
            }
        }
    //figure
}

@keyframes movingBg{
    0%{ background-position: 0px 0px, center, center }
    100%{ background-position: 300px 300px, center, center }
}


/*------------------------------------------------------------------------
  In View Transitions
------------------------------------------------------------------------*/

.slide-quote{
    blockquote{
        position: relative;
        padding-left: $grid*8;
        padding-right: $grid*8;
        display: block;
        p{
            margin: 0 auto;
        }
        span{
            opacity: 0;
            transition: all 0.7s $curved-transition 0.3s;
            transform: translateY(20px);
        }
        .icon{
            opacity: 0;
            transition: all 0.7s $curved-transition 0.6s;
            position: absolute;
            &:first-child{
                transform: translate(-20px, 0px);
            }
            &:last-child{
                transform: translate(20px, 0px);
            }
        }
    }
    hr{
        transition: all 0.7s $curved-transition 0.4s;
        opacity: 0;
        width: 0;
    }
    footer{
        transition: all 0.7s $curved-transition 0.5s;
        transform: translateY(20px);
        opacity: 0;
    }
    &.animated{
        blockquote{
            span{
                transform: translateY(0px);
                opacity: 1;
            }
            .icon{
                opacity: 0.5;
                &:first-child{
                    transform: translate(0px, 0px);
                }
                &:last-child{
                    transform: translate(0px, 0px);
                }
            }

        }
        hr{
            width: $grid*15;
            opacity: 0.25;
        }
        footer{
            transform: translateY(0px);
            opacity: 0.75;
        }
    }
}


/*------------------------------------------------------------------------
  Queries
------------------------------------------------------------------------*/

@include media ('<lg') {
    .slide-quote{
        figure{
            padding: 0 6vw;
        }
    }
}

@include media ('<sm') {
    .slide-quote{
        border: none;
        blockquote{
            p{
                font-size: 3vw;
            }
            .icon{
                width: 12vw;
                height: 12vw;
            }
        }
    }
}

@include media('<xs') {
    .slide-quote{
        blockquote{
            p{
                font-size: 17px;
            }
            .icon{
                width: 72px;
                height: 72px;
            }
        }
    }
}

@include media('<xxs') {
    .slide-quote{
        figure{
            padding-left: 32px;
            padding-right: 32px;
        }
        blockquote{
            padding-top: $grid*5;
            .icon{
                position: absolute;
                top: -48px;
                &:first-child{
                    left: 0;
                }
                &:last-child{
                    right: 0;
                }
            }
        }
        &.animated{
            blockquote{
                .icon{
                    opacity: 0.2 !important;
                }
            }
        }
    }
}
