/*---------------------------------------------------------------------------


Slide Quote Section
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/



/*------------------------------------------------------------------------
  CTA Section
------------------------------------------------------------------------*/

.slide-cta{
    background: url('images/test-cta-photo.jpg') center center no-repeat #28304F;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 90vh;
    box-sizing: border-box;
    h2{
        color: #fff;
        font-size: $font-size-64;
        margin-bottom: $grid*4;
    }
    p{
        color: #b6c0e4;
        margin-bottom: $grid*5.5;
    }
}
    .slide-cta__content{
        margin: 0 auto;
        max-width: $grid*88;
        padding: $grid*4;
    }
//.slide-cta


/*------------------------------------------------------------------------
  In View Transitions
------------------------------------------------------------------------*/


.slide-cta{
    h2{
        opacity: 0;
        transition: opacity 0.7s $curved-transition 0.3s;
    }
    p{
        opacity: 0;
        transition: opacity 0.7s $curved-transition 0.4s;
    }
    .cta-buttons{
        opacity: 0;
        transition: opacity 0.7s $curved-transition 0.5s;
    }
    .button--secondary{
        transform: translate(-20px, 0px);
        transition: transform 0.7s $curved-transition 0.5s, padding 0.15s $curved-transition;
    }
    .button--cta{
        transform: translate(20px, 0px);
        transition: transform 0.7s $curved-transition 0.5s, padding 0.15s $curved-transition;
    }
    &.animated{
        h2{
            opacity: 1;
        }
        p{
            opacity: 1;
        }
        .cta-buttons{
            opacity: 1;
        }
        .button--secondary{
            transform: translate(0px, 0px);
        }
        .button--cta{
            transform: translate(0px, 0px);
        }
    }
}



/*------------------------------------------------------------------------
  Queries
------------------------------------------------------------------------*/


@include media('<md') {
    .slide-cta{
        min-height: 0;
        h2{
            font-size: 6.1vw;
            margin-bottom: 1.8vw;
        }
        p{
            margin-bottom: 3vw;
        }
    }
}

@include media('<sm') {
    .slide-cta{
        h2{
            font-size: 48px;
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 32px;
        }
    }
}

@include media('<xs') {
    .slide-cta{
        h2{
            font-size: 42px;
            margin-bottom: 24px;
        }
    }
}

@include media('<xxs') {
    .slide-cta{
        h2{
            font-size: 42px;
        }
    }
}
