/*---------------------------------------------------------------------------


Slides (Sections)
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Global -- Layout and Style
------------------------------------------------------------------------*/

.slide{
    display: flex;
    padding: $grid*30 0;
    background: linear-gradient(120deg, #FFFFFF, #F4F7FA);
    &__content{
        width: 100%;
        max-width: $page-max-width;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
        &__hero{
            box-sizing: border-box;
            flex: 1;
            padding: 0 $grid*12;
            //temp
            .test-div{
                background: #fff;
                height: 400px;
                box-shadow: 0px 0px 64px rgba(13,53,94,0.3);
            }
        }
        &__copy{
            flex: 1;
            box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 $grid*12;
        }
    //__content
    &__grid{
        display: flex;
        width: 100%;
    }
        &__grid-cell{
            width: 100%;
            box-sizing: border-box;
            padding: $grid;
            &--half{
                width: 50%;
            }
        }

    &__learn-more{
        margin-top: 3rem;
    }
}


/*------------------------------------------------------------------------
  Global -- Typography
------------------------------------------------------------------------*/

.slide{
    font-size: $font-size-17;
    color: $copy-content-color;
    h2{
        font-size: $font-size-48;
        font-family: $header-font;
        line-height: 1.2em;
        letter-spacing: -0.01em;
        color: $copy-title-color;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: -2px;
    }
    h3{
        font-size: $font-size-24;
        font-family: $header-font;
        letter-spacing: -0.01em;
        color: $copy-title-color;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h6{
        text-transform: uppercase;
        color: #ccc;
        font-size: $font-size-14;
        font-weight: 200;
        letter-spacing: 0.04rem;
        margin-bottom: 2rem;
        margin-top: 0px;
    }
    p{
        line-height: 2em;
        letter-spacing: 0.01em;
        margin-top: 0;
        margin-bottom: 2.2rem;
        margin-bottom: 0;
        font-weight: 200;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}

@include media('<sm') {
    .slide{
        h2{
            font-size: 5.5vw;
        }
    }
}

@include media('<xs') {
    .slide{
        h2{
            font-size: 34px;
        }
    }
}


/*------------------------------------------------------------------------
  Queries
------------------------------------------------------------------------*/

@include media('<lg') {
    .slide{
        padding-top: 20vw;
        padding-bottom: 20vw;
        &__hero{
            padding-left: 6vw;
            padding-right: 6vw;
        }
        &__copy{
            padding-left: 6vw;
            padding-right: 6vw;
        }

    }
}

@include media('<xxs') {
    .slide{
        &__hero{
            padding-left: 32px;
            padding-right: 32px;
        }
        &__copy{
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}
