/*---------------------------------------------------------------------------


Slide Quote Section
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Full Slide Image
------------------------------------------------------------------------*/


.slide__full-image{
    display: flex;
    margin: $grid*8 auto 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 $grid*14;
    box-sizing: border-box;
    justify-content: center;
    max-width: 1440px;
    img{
        width: 100%;
        max-width: 100%;
        height: 100%;
        box-shadow: 0px 12px 64px $box-shadow-color;
        transition: all 0.7s $curved-transition 0.5s;
        transform: translateY(20px);
        opacity: 0.01;
    }
}

.slide__full-image.animated{
    img{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*------------------------------------------------------------------------
  Slide Image Grid
------------------------------------------------------------------------*/


.slide__image-grid{
    display: flex;
    margin: $grid*12 auto 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 $grid*14;
    box-sizing: border-box;
    justify-content: center;
    max-width: 1440px;
}
    .slide__image-grid-cell{
        padding: $grid*2;
        box-sizing: border-box;
        > .inner{
            display: block;
            box-shadow: 0px 12px 64px $box-shadow-color;
            //temp
            img{
                width: auto;
                height: auto;
            }
        }
        &--half{
            width: 50%;
            //temp
            height: 400px;
            >.inner{
                background: #fff;
                height: 100%;
            }
        }
        &--full{
            width: 100%;
            //temp
            height: 600px;
            >.inner{
                background: #fff;
                height: 100%;
            }
        }
    }
//slide__image-grid


/*-- In View Transitions --*/

.slide{
    .slide__image-grid-cell{
        transition: all 0.7s $curved-transition 0.5s;
        transform: translateY(20px);
        opacity: 0.01;
        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                transition-delay: (0.5s + (0.2s * $i));
            }
        }
    }
    &.animated{
        .slide__image-grid-cell{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}


/*-- Queries --*/

@include media('<lg') {
    .slide__image-grid{
        padding-left: 6vw;
        padding-right: 6vw;
        padding-left: calc(6vw - 8px);
        padding-right: calc(6vw - 8px);
        margin: $grid*10 auto 0;
    }
        .slide__image-grid-cell{
            &--fifth{
                width: 25%;
            }
        }
}

@include media('<sm') {
    .slide__image-grid-cell{
        &--quarter{
            margin: $grid*8 auto 0;
            width: 33.33%;
        }
        &--fifth{
            width: 33.33%;
            padding: $grid/4;
        }
    }
}

@include media('<xs') {
    .slide__image-grid{
        padding-left: 25px;
        padding-right: 25px;
    }
        .slide__image-grid-cell{
            &--quarter{
                width: 50%;
            }
        }
    //.slide__image-grid
}


/*------------------------------------------------------------------------
  Logo Grid
------------------------------------------------------------------------*/

.logo-grid{
    display: flex;
    margin: $grid*8 auto 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 $grid*14;
    box-sizing: border-box;
    justify-content: center;
    max-width: 1440px;
    &__cell{
        padding: $grid*2;
        box-sizing: border-box;
        width: 15%;
        img{
            width: auto;
            height: auto;
            filter: grayscale(100%);
        }
        >.inner{
            display: block;
            opacity: 0.6;
            &:hover{
                opacity: 1;
                img{
                    filter: grayscale(0%);
                }
            }
        }
    }
}


/*-- In View Transitions --*/

.slide{
    .logo-grid__cell{
        transition: all 0.7s $curved-transition 0.5s;
        transform: translateY(20px);
        opacity: 0.01;
        @for $i from 1 through 60 {
            &:nth-child(#{$i}) {
                transition-delay: (0.5s + (0.2s * $i));
            }
        }
    }
    &.animated{
        .logo-grid__cell{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}


/*-- Queries --*/

@include media('<lg') {
    .logo-grid{
        padding-left: 6vw;
        padding-right: 6vw;
        padding-left: calc(6vw - 12px);
        padding-right: calc(6vw - 12px);
        &__cell{
            padding: $grid*1.5;
            width: 25%;
        }
    }
}

@include media('<sm') {
    .logo-grid{
        padding-left: calc(6vw - 8px);
        padding-right: calc(6vw - 8px);
        &__cell{
            width: 33.33%;
            width: calc(100% / 3);
            padding: $grid;
        }
    }
}

@include media('<xs') {
    .slide__image-grid{
        padding-left: 25px;
        padding-right: 25px;
    }
        .slide__image-grid-cell{
            &--quarter{
                width: 50%;
            }
        }
    //.slide__image-grid
}


/*------------------------------------------------------------------------
  Mini Grid Section
------------------------------------------------------------------------*/

.slide-mini{
    padding: $grid*12 0;
    position: relative;
    background: #f3f3f3;
    overflow: hidden;
        &__sfx-squiggle{
            position: absolute;
            bottom: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            background: url('app-sfx/test-grad-swoosh.svg') center center;
            background-size: cover;
            opacity: 0.4;
        }
        &__sfx-circle-grad{
            position: absolute;
            top: -20%;
            left: 50%;
            margin-left: -600px;
            filter: blur(20px);
            width: 1200px;
            height: 400px;
            border-radius: 100%;
            background: radial-gradient(at center center, rgba(255,255,255,0.2), rgba(255,255,255,0));
        }
    &__grid{
        max-width: $page-max-width;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        padding: 0 $grid*14;
        width: 100%;
    }
        &__card{
            width: 50%;
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            background: #fff;
            padding: $grid*8 $grid*6;
            margin-right: $grid*4;
            box-shadow: 0px 0px 64px rgba(13, 53, 94, 0.3);
            border-radius: $border-radius;
            &:last-child{
                margin-right: 0px;
                margin-left: $grid*4;
            }
        }
            &__content{
                flex: 1;
            }
            &__thumb{
                box-sizing: border-box;
                margin-right: $grid*3;
                img{
                    width: 160px;
                    height: 160px;
                }
            }
        //.slide-mini__card
    //.slide-mini__grid
}


/*-- Responsive Queries --*/

@include media('<lg') {
    .slide-mini{
        &__grid{
            padding-left: 6vw;
            padding-right: 6vw;
        }
            &__card{
                padding: $grid*5 $grid*5;
                margin-right: 2vw;
                &:last-child{
                    margin-right: 0px;
                    margin-left: 2vw;
                }
            }
            &__thumb{
                margin-right: $grid*5;
                width: $grid*14;
                height: $grid*14;
                border-radius: $grid*14;
            }
        //&__grid
    }
}

@include media('<md') {
    .slide-mini{
        &__grid{
            flex-wrap: wrap;
        }
            &__card{
                padding: $grid*4 $grid*4;
                width: 100%;
                box-sizing: border-box;
                flex: auto;
                display: flex;
                margin: 0;
                &:first-child{
                    margin-bottom: 6vw;
                }
                &:last-child{
                    margin-left: 0;
                }
            }
            &__thumb{
                margin-right: $grid*4;
            }
        //&__grid
    }
}

@include media('<xxs') {
    .slide-mini{
        &__card{
            text-align: center;
            display: block;
        }
            &__thumb{
                margin: 0 auto;
            }
            &__content{
                margin-top: $grid*4;
                flex: auto;
                width: 100%;
            }
        //&__card
    }
}


/*-- In View Transitions --*/

.slide-mini{
    &__card{
        transition: all 0.7s $curved-transition 0.3s;
        opacity: 0;
        &:first-child{
            transform: translate(-40px, 0px);
        }
        &:last-child{
            transform: translate(40px, 0px);
        }
    }
    &.animated{
        .slide-mini__card{
            opacity: 1;
            &:first-child{
                transform: translate(0px, 0px);
            }
            &:last-child{
                transform: translate(0px, 0px);
            }
        }
    }
}
