/*---------------------------------------------------------------------------


FAQ Slides (Sections)
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  FAQ NAV SLIDE
------------------------------------------------------------------------*/

.slide-faq-nav{
    background: linear-gradient(120deg, #FFFFFF, #F4F7FA);
}


/*------------------------------------------------------------------------
  FAQ NAV
------------------------------------------------------------------------*/

.faq-nav{
    display: flex;
    margin: $grid*8 auto 0;
    max-width: 1120px;
    &__link{
        text-align: center;
        flex-wrap: wrap;
        flex: 1;
        margin: $grid*2;
        text-align: center;
        padding: $grid*2;
        position: relative;
        background: #fff;
        padding: $grid*6 $grid*4;
        color: $copy-content-color;
        box-shadow: 0px 0px 32px rgba(13, 53, 94, 0.1);
        font-weight: 200;
        &:hover{
            box-shadow: 0px 0px 32px rgba(13, 53, 94, 0.25);
        }
    }
        &__icon{
            width: $grid*10;
            height: $grid*10;
            margin: 0 auto;
            border: 2px solid $brand-primary;
            border-radius: $grid*20;
            display: block;
            margin-bottom: $grid*4;
        }
        &__text{
            display: block;
            width: 100%;
            color: $content-copy-color--dark;
            @extend h4;
        }
        &__description{
            font-size: $font-size-14;
            margin-top: 0.44em;
            line-height: 2em;
            letter-spacing: 0.01em;
        }
        //__link
}


/*-- Transitions --*/

.slide-faq-nav{
    .faq-nav__link{
        transform: translateY(40px);
        opacity: 0;
        transition: transform 0.55s $curved-transition 0.5s, opacity 0.55s $curved-transition 0.5s;
        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                transition-delay: (0.5s + (0.2s * $i));
            }
        }
    }
    &.animated{
        .faq-nav__link{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

/*-- Queries --*/


@include media('<lg') {
    .faq-nav{
        padding-left: 5.7vw;
        padding-right: 5.7vw;
    }
}

@include media('<md') {
    .faq-nav{
        &__link{
            padding: $grid*4;
            margin: $grid*2;
        }
    }
}

@include media('<sm') {
    .faq-nav{
        display: block;
        &__link{
            width: 100%;
            margin: 0 0 $grid*3 0;
            box-sizing: border-box;
            display: flex;
        }
        &__icon{
            margin: 0;
        }
        &__content{
            flex: 1;
            display: block;
            text-align: left;
            margin-left: $grid*4;
        }
        &__text{
            font-size: $font-size-18;
            white-space: nowrap;
        }
    }
}

@include media('<xs') {
    .faq-nav{
        &__icon{
            width: $grid*8;
            height: $grid*8;
        }
    }
}



/*------------------------------------------------------------------------
  FAQ SLIDE
------------------------------------------------------------------------*/

.slide-faq{
    background: url('images/grid-texture.png') center center repeat;
    background-attachment: fixed;
    .hr-gradient{
        margin-left: $grid*16;
    }
    &__content{
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
        padding: 0 $grid*14;
    }
        &__group{
            margin-top: $grid*20;
            h2{
                margin-top: $grid*2;
            }
            &:first-child{
                margin-top: 0;
            }
        }
            &__header{
                margin-bottom: $grid*8;
            }
            .slide-faq__name{ //explicit
                margin-left: $grid*16;
            }
            &__list{
                list-style: none;
                position: relative;
                padding-bottom: 1px;
                &:before{
                    content: '';
                    background: #dedede;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 1px;
                    left: $grid*16;
                }
            }
                &__list-item{
                    position: relative;
                    padding-left: $grid*16;
                    margin-bottom: 6rem;
                    &:before{
                        content: 'Q';
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: -6px;
                        font-size: $grid*12;
                        line-height: 1;
                        font-weight: 200;
                        opacity: 0.1;
                    }
                }
                //&__list-item
            //&__list
        //&__group
        &__conclusion{
            >.inner{
                margin-top: $grid*6;
                margin-left: $grid*16;
            }
            .button--primary{
                margin-top: $grid*4;
                margin-left: $grid*4;
            }
        }
    //&__content
}

/*-- In View Transitions --*/

.slide-faq__group{
    h2{
        opacity: 0;
        transition: all 0.7s $curved-transition 0.1s;
        transform: translateY(40px);
    }
    h3{
        opacity: 0;
        transition: all 0.7s $curved-transition 0.3s;
        transform: translateY(40px);
    }
    .slide-faq__list-item{
        &:before{
            opacity: 0;
            transition: all 0.7s $curved-transition 0.2s;
            transform: translateY(40px);
        }
    }
    .hr-gradient{
        opacity: 0;
        transition: all 0.7s $curved-transition 0.4s;
        width: 0px;
        transform: translate(-20px, 30px);
    }
    p{
        opacity: 0;
        transition: all 0.7s $curved-transition 0.4s;
        transform: translateY(40px);
    }
    &.animated{
        h2{
            opacity: 1;
            transform: translateY(0px);
        }
        h3{
            opacity: 1;
            transform: translateY(0px);
        }
        .slide-faq__list-item{
            &:before{
                opacity: 0.1;
                width: 128px;
                transform: translate(0px, 0px);
            }
        }
        .hr-gradient{
            opacity: 1;
            width: 128px;
            transform: translate(0px, 0px);
        }
        p{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.slide-faq__conclusion{
    opacity: 0;
    transition: all 0.7s $curved-transition 0.1s;
    transform: translateY(40px);
    &.animated{
        opacity: 1;
        transform: translateY(0px);
    }
}



/*-- Queries --*/


@include media('<lg') {
    .slide-faq{
        &__group{
            margin-top: $grid*16;
        }
        &__content{
            padding-left: 5.7vw;
            padding-right: 5.7vw;
        }
        .slide-faq__name{
            margin-left: $grid*14;
        }
        .hr-gradient{
            margin-left: $grid*14;
        }
        &__list-item{
            padding-left: $grid*14;
            &:before{
                margin-top: -4px;
                font-size: $grid*10;
            }
        }
        &__list{
            &:before{
                left: $grid*14;
            }
        }
        &__conclusion{
            >.inner{
                margin-left: $grid*14;
            }
        }
    }
}

@include media('<sm') {
    .slide-faq{
        &__group{
            margin-top: $grid*14;
        }
        .slide-faq__name{
            margin-left: $grid*10;
        }
        .hr-gradient{
            margin-left: $grid*10;
        }
        &__list-item{
            padding-left: $grid*10;
            &:before{
                font-size: $grid*7;
            }
        }
        &__list{
            &:before{
                left: $grid*10;
            }
        }
        &__conclusion{
            >.inner{
                margin-top: $grid*18;
                margin-left: $grid*10;
                text-align: center;
            }
            .button--primary{
                display: block;
                max-width: 160px;
                margin-top: $grid*2;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@include media('<xs') {
    .slide-faq{
        &__group{
            margin-top: $grid*12;
        }
        .slide-faq__header{
            margin-bottom: $grid*14;
        }
        .slide-faq__name{
            margin-left: 0;
        }
        .hr-gradient{
            margin-left: 0;
        }
        &__list-item{
            padding-left: 0;
            margin-bottom: $grid*14;
            &:before{
                font-size: $grid*4;
                top: -50px;
            }
        }
        &__list{
            &:before{
                left: 0;
            }
        }
        &__conclusion{
            >.inner{
                margin-left: 0;
            }
        }
    }
}
