/*---------------------------------------------------------------------------


Slides (Sections)
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Global -- Layout and Style
------------------------------------------------------------------------*/

.slide{
    display: flex;
    background: linear-gradient(120deg, #FFFFFF, #F4F7FA);
    &__content{
        width: 100%;
        max-width: $page-max-width;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
        &__hero{
            box-sizing: border-box;
            flex: 1;
            padding: 0 $grid*14;
            //temp
            .test-div{
                background: #fff;
                height: 400px;
                box-shadow: 0px 12px 64px $box-shadow-color;
            }
        }
        &__copy{
            flex: 1;
            box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 $grid*14;
            @extend .typography;
        }
    //__content
}



@include media('<lg') {
    .slide{
        padding: $grid*20 0;
        &__hero{
            padding-left: 6vw;
            padding-right: 6vw;
            .test-div{
                box-shadow: 0px 0px 32px rgba(13,53,94,0.3);
            }
        }
        &__copy{
            padding-left: 6vw;
            padding-right: 6vw;
        }
    }
}


@include media('<xxs') {
    .slide{
        &__hero{
            padding-left: 24px;
            padding-right: 24px;
            .test-div{
                box-shadow: 0px 0px 16px rgba(13,53,94,0.3);
            }
        }
        &__copy{
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

/*------------------------------------------------------------------------
  Vertical Rythm
------------------------------------------------------------------------*/

.slide{
    padding: $grid*30 0;
}

@include media('<lg') {
    .slide{
        padding: $grid*26 0;
    }
}

@include media('<sm') {
    .slide{
        padding: $grid*20 0;
    }
}

@include media('<xxs') {
    .slide{
        padding: $grid*12 0;
    }
}


/*------------------------------------------------------------------------
  Queries
------------------------------------------------------------------------*/
