/*---------------------------------------------------------------------------


Search Results
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/




/*------------------------------------------------------------------------
  Slide Image Grid
------------------------------------------------------------------------*/


    .search-results{
        padding: 0;
        &__content{
            @extend .blog-single__content;
        }
        &__conclusion{
            padding-top: $grid*6;
            border-top: 1px solid #dedede;
            .button{
                margin-left: $grid*4;
                margin-top: $grid*4;
            }
        }
    }

        .search-result{
            display: flex;
            margin-bottom: $grid*8;
            img{
                width: auto;
                height: auto;
                margin: 0;
            }
            &__content{
                h4{
                    margin-bottom: $grid*2.8;
                    a{
                        color: $copy-title-color;
                        &:hover{
                            color: $brand-primary;
                        }
                    }
                    strong{
                        font-weight: 700;
                        color: #000;
                    }
                }l
                strong{
                    font-weight: 700;
                    color: #222;
                }
            }

                &__meta{
                    font-size: $font-size-14;
                    text-transform: uppercase;
                    font-weight: $font-weight-light;;
                    letter-spacing: 0.04rem;
                    margin-top: 0;
                    margin-bottom: $grid*2;
                    color: $content-copy-color--light;
                    em{
                        color: #ccc;
                    }
                }
                    &__category{
                        color: $brand-primary;
                    }
        }


/*-- IN VIEW TRANSITIONS --*/

.search-results{
    &__content{
        opacity: 0.01;
        transition: all 0.7s $curved-transition 0.2s;
        transform: translateY(40px);
    }
    &.animated{
        .search-results__content{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.search-results__conclusion{
    >.inner{
        opacity: 0.01;
        transition: all 0.7s $curved-transition 0.1s;
        transform: translateY(40px);
    }
    &.animated{
        >.inner{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}


/*-- SEARCH QUERIES --*/

@include media('<lg') {
    .search-results{
        &__content{
            padding: $grid*13 6.6vw $grid*16 6.6vw;
        }
    }
}

@include media('<sm') {
    .search-results{
        &__content{
            padding-top: $grid*10;
            padding-bottom: $grid*14;
        }
        &__conclusion{
            text-align: center;
            margin-top: $grid*10;
            .button{
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 120px;
            }
        }
    }
}
