/*---------------------------------------------------------------------------


Slide Quote Section
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
  Slide Half Content Section
------------------------------------------------------------------------*/

/*-- Half --*/

.slide-half{
    position: relative;
    box-sizing: border-box;
    &:before{
        content: '';
        background-color: $gray-bg-color;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
    }
    &--no-min{
        min-height: 0;
    }
    .hr-gradient{
        margin-right: auto;
    }
    img{
        max-width: 100%;
        box-shadow: 0px 12px 64px $box-shadow-color;
    }
    .slide__copy{
        width: 50%;
        box-sizing: border-box;
        flex: auto;
    }
    .slide__hero{
        width: 50%;
        box-sizing: border-box;
        flex: auto;
    }
}


/*------------------------------------------------------------------------
  Slide Center Content Section
------------------------------------------------------------------------*/

.slide-center{
    background: #fff;
    text-align: center;
    background: linear-gradient(120deg, #FFFFFF, #F4F7FA);
    .slide__content{
        display: block;
    }
    hr{
        margin-left: auto;
        margin-right: auto;
    }
    .slide__copy{
        max-width: 920px;
        margin: 0 auto;
        &--left{
            text-align: left;
            h2{
                text-align: left;
            }
            hr{
                margin-right: auto;
                margin-left: 0px;
            }
        }
    }
    &--grad{
        background: linear-gradient(120deg, #FFFFFF, #F4F7FA);
    }
    figure{
        display: flex;
        margin: 96px auto 0;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 112px;
        box-sizing: border-box;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1440px;
    }
}


/*------------------------------------------------------------------------
  In View Transitions
------------------------------------------------------------------------*/

.slide-center,
.slide-half{
    h1, h2, h3, h4, h5, h6{
        opacity: 0.01;
        transition: all 0.7s $curved-transition 0.2s;
        transform: translateY(40px);
    }
    .hr-gradient{
        opacity: 0.01;
        transition: all 0.7s ease-out 0.4s;
        width: 0px;
        transform: translate(-20px, 30px);
    }
    p, ul, ol, dl, a, blockquote{
        opacity: 0.01;
        transition: all 0.7s $curved-transition 0.5s;
        transform: translateY(40px);
    }
    .button--primary{
        opacity: 0.01;
        transform: translateY(40px);
        transition: opacity 0.7s $curved-transition 0.7s, transform 0.7s $curved-transition 0.7s,;
    }
    .slide__hero{
        opacity: 0.01;
        transition: all 0.7s $curved-transition 0.6s;
        transform: translateY(40px);
    }
    &.animated{
        h6{
            opacity: 1;
            transform: translateY(0px);
        }
        h2{
            opacity: 1;
            transform: translateY(0px);
        }
        .hr-gradient{
            opacity: 1;
            width: 128px;
            transform: translate(0px, 0px);
        }
        p{
            opacity: 1;
            transform: translateY(0px);
        }
        .button--primary{
            opacity: 1;
            transform: translateY(0px);
        }
        .slide__hero{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}


/*------------------------------------------------------------------------
  Queries
------------------------------------------------------------------------*/

@include media('>=lg') {
    .slide-half{
        .slide__copy{
            p{
                max-width: 800px;
            }
        }
    }
}

@include media('<lg') {
    .slide-half{
        min-height: 0;
    }
}

@include media('<md') {
    .slide-half{
        .slide__content{
            flex-wrap: wrap;
        }
            .slide__copy{
                flex: auto;
                width: 100%;
                box-sizing: border-box;
            }
            .slide__hero{
                margin-top: $grid*10;
                flex: auto;
                width: 100%;
                box-sizing: border-box;
            }
        //slide__content
        &:before{
            display: none;
        }
    }
}



@include media('<sm') {
    .slide-half{
        .slide__hero{
            margin-top: $grid*8;
        }
    }
    .slide-center{
        .slide__copy{
            max-width: 640px;
        }
    }
}

@include media('<xs') {
    .slide-half{
        .slide__hero{
            margin-top: 48px;
        }
    }
}
