/*---------------------------------------------------------------------------


Config
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


/*---------------------------------------------------------------------
  NOTES
---------------------------------------------------------------------*/


$site-primary: #131a2d;



/*---------------------------------------------------------------------
  Layout
---------------------------------------------------------------------*/


$page-max-width: 1680px;

/* Queries, Built by http://include-media.com/#features */
$breakpoints: (
  xxs: 480px,
  xs: 600px,
  sm: 800px,
  md: 1024px,
  lg: 1280px,
  xl: $page-max-width
);

$content-max-width: 800px;

$grid: 8px;
$base-font-size: 16px;

$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-default: 1rem;
$font-size-17: 1.0625rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;
$font-size-40: 2.5rem;
$font-size-48: 3rem;
$font-size-56: 3.5rem;
$font-size-64: 4rem;
$font-size-72: 4.5rem;
$font-size-80: 5rem;
$font-size-96: 6rem;

$header-height: $grid*8;
$menu-width: $grid*28;
$sidebar-width: $grid*34;


/*---------------------------------------------------------------------
  Colors Palette
---------------------------------------------------------------------*/


$brand-primary-dodge:    #4DB5FF;
$brand-primary:          #3FA9F5;
$brand-primary-burn:     #3998db;
$brand-secondary-dodge:  #8AE34B;
$brand-secondary:        #7AC943;
$brand-secondary-burn:   #6BB03A;
$brand-tertiary-dodge:   #FFC130;
$brand-tertiary:         #EFAF1E;
$brand-tertiary-burn:    #D69E1C;


$nav-text-color: #999999;
$nav-text-color--hover: #666666;

$copy-title-color: #333E48;
$copy-content-color: #7A868C;

$copy-content-color--on-dark: #e1e4ec;

$app-bg-color: #f3f4f7;
$app-divider-color: #e0e2ed; //#f1f2f6;
$content-copy-color--dark: #434e54;
$content-copy-color--light: #879cc6;
$soft-bg-color: #fbfbfb;


$border-radius: $grid*2;
$title-color: #252d3f;
$content-copy-color: #7f7f84;
$gray-bg-color: #e7ebed;
$box-shadow-color: rgba(37,48,60,0.2);
$green-grad: linear-gradient(90deg, #72c54f, #99d25c);
$green-grad-reverse: linear-gradient(-90deg, #72c54f, #99d25c);
$blue-grad: linear-gradient(90deg, #3A65C7, #3FA9F5);
$blue-grad-reverse: linear-gradient(-90deg, #3A65C7, #3FA9F5);


/*---------------------------------------------------------------------
  Type
---------------------------------------------------------------------*/

$header-font: 'Slate W01', sans-serif;
//Light: 300
//Bold: 700

$primary-font: 'Quasimoda W01', sans-serif;
//Light: 300
//Medium: 500


/*---------------------------------------------------------------------
  Transitions
---------------------------------------------------------------------*/

$curved-transition: cubic-bezier(.34,.61,.59,1.11);
