/*---------------------------------------------------------------------------


Shame - Stuff We Need to Clean Up
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/

.app-icons-wrap{
    width: 1px;
    height: 1px;
    opacity: 0;
    display: none;
    visibility: hidden;
    position: absolute;
    left: -99999px;
}

/*---------------------------------------------------------------
    Overwrite AMP
---------------------------------------------------------------*/

html, body{
    height: 100% !important;
}

/*---------------------------------------------------------------
    Skip to Content Link
---------------------------------------------------------------*/

.skip-link{
    display: none;
}


/*------------------------------------------------------------------------
  Admin Bar Settings
------------------------------------------------------------------------*/


.admin-bar.nav-prep-transition{
    .main-menu{
        top: 32px !important;
    }
}

.admin-bar{
    .main-header{
        top: 32px;
        @include media('<782px') {
            top: 0;
        }
    }
    .blog-overview-hero--paged{
        height: 168px;
        @include media('<782px') {
            top: 182px;
        }
    }
    .site__content--blog-paged{
        top: 168px;
        @include media('<782px') {
            top: 182px;
        }
    }
}
