/*---------------------------------------------------------------------------


Shame - Stuff We Need to Clean Up
By: Kevin Mercier
Version: 1.0.0


---------------------------------------------------------------------------*/


body{
    background: #fff
}



.admin-bar{
    .main-menu--fixed{
        top: 32px;
    }
}

.skip-link{
    display: none;
}





.centered-view-more{
    margin-top: $grid*12;
}

@include media('<md') {
    .centered-view-more{
        margin-top: $grid*10;
    }
}

@include media('<sm') {
    .centered-view-more{
        margin-top: $grid*8;
    }
}

@include media('<xs') {
    .centered-view-more{
        margin-top: 48px;
    }
}


.slide{
    .centered-view-more{
        opacity: 0;
        transition: opacity 0.7s $curved-transition 1s, transform 0.7s $curved-transition 1s;
        transform: translateY(40px);
    }
    &.animated{
        .centered-view-more{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
